.header {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 0px;
  width: auto;
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  line-break: lightgrey;
  position: sticky;
}

.logo {
  height: 28px;
}

a {
  margin-top: 3px;
  margin-bottom: -3px;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 5.5rem;
  justify-content: center;
  height: 76px;
  /* display: flex;
    flex-direction: row; */
  align-items: center;
  color: var(--color-dark-blue-base);
  text-decoration: none;
  font-weight: 450;
  font-size: 24px;
  font-family: @ import
    url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
  color: #0a1839;
}

a:hover {
  background-color: lightgrey;
  background-size: 76px;
}

.signIn {
  color: #0055ff;
  background-color: white;
  height: 45px;
  min-width: 125px;
  border-radius: 45px;
  border: 2px solid #0055ff;
  align-items: center;
  font-size: 20px;
}

.search {
  vertical-align: middle;
  margin-left: 10px;
}
